/* MOBIL-FIRST */

/* Importerer Montserrat from Google Fonts via @import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Definerer variabler for bruk senere */
$maksbredde: 1400px;
$innhold-maksbredde: 1000px;
$knappfarge: #ffcf40;
$scorefarge: #019101;
$footerbakgrunn: #252525;

html {
    /* Setter font for alle elementer til Montserrat sans-serif. */
    font-family: Montserrat, sans-serif;
    /* Responsiv typografi - skriftstørrelse justeres ettersom viewfinder endrer seg. */
    font-size: calc(1rem + 1vw); 
    /* Setter box-sizing til border-box for alle elementer. */
    box-sizing: border-box;
    /* Fjerner margin for bedre kontroll over layout */
    margin: 0;
}

#container {
    max-width: $maksbredde;
    width: 100%;
    margin: 0 auto;
}

header.globalHead {
    display: grid;
    grid-template-columns: 2rem auto 2rem 2rem 2rem;
}

.logo {
    display: grid;
    grid-column: 1 / 2;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

.søk {
    display: grid;
    grid-column: 3 / 4;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

.bruker {
    display: grid;
    grid-column: 4 / 5;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

.globalNav {
    display: grid;
    grid-column: 5 / 6;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}


.smulemeny {
    display: flex;
    flex-direction: row;
    gap: 0.5em; 
    background-color: #1ca2c1;
    color: white;
    height: fit-content;
    width: fit-content;
    border-radius: 10%;
    padding: 0.5em 1em;
    font-size: 1em;
    position: relative;
    a {
        color: white;
    }
}

main {
    max-width: $innhold-maksbredde;
}

.current {
    text-decoration: underline;
    text-decoration-color: #1ca2c1;
}

summary {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.galleri {
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
  
.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 400px;
    scroll-snap-align: center;
    margin-right: 0px;
    box-sizing: border-box;
    background: white;
    transform-origin: center center;
    transform: scale(1);
}
  
.slide a {
    background: none;
    border: none;
}
  
.galleri::before,
.galleri::after {
    content: "";
    z-index: 1;
    background: none;
    pointer-events: none;
}










.score {
    padding: 0.5em;
    height: fit-content;
    width: fit-content;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    background-color: $scorefarge;
}

.pris {
    font-weight: bold;
}

.btn {
    height: fit-content;
    width: fit-content;
    border-radius: 10%;
    border: none;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black;
    background-color: $knappfarge;
}

ol, ul {
    list-style: none;
}

footer {
    width: 100%;
    background-color: $footerbakgrunn;
    * {
        color: white;
    }
    display: grid;
    grid-template-rows: auto auto;
}